<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jclg.ems.mapper.DreposMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jclg.ems.bean.Drepos">
        <id column="id" property="id" />
        <result column="expsalary" property="expsalary" />
        <result column="expplace" property="expplace" />
        <result column="expsition" property="expsition" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, expsalary, expplace, expsition, remark
    </sql>

</mapper>
