<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jclg.ems.mapper.JobofferMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jclg.ems.bean.Joboffer">
        <id column="id" property="id" />
        <result column="userid" property="userid" />
        <result column="comid" property="comid" />
        <result column="position" property="position" />
        <result column="workplace" property="workplace" />
        <result column="expreq" property="expreq" />
        <result column="edureq" property="edureq" />
        <result column="jobreq" property="jobreq" />
        <result column="jobwel" property="jobwel" />
        <result column="time" property="time" />
        <result column="sta" property="sta" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, userid, comid, position, workplace, expreq, edureq, jobreq, jobwel, time, sta, remark
    </sql>

</mapper>
