<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jclg.ems.mapper.StudentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jclg.ems.bean.Student">
        <id column="id" property="id" />
        <result column="userid" property="userid" />
        <result column="name" property="name" />
        <result column="sex" property="sex" />
        <result column="age" property="age" />
        <result column="classes" property="classes" />
        <result column="professionid" property="professionid" />
        <result column="collegeid" property="collegeid" />
        <result column="grayears" property="grayears" />
        <result column="phone" property="phone" />
        <result column="dreposid" property="dreposid" />
        <result column="empinfoid" property="empinfoid" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, userid, name, sex,age, classes, professionid, collegeid, grayears, phone, dreposid, empinfoid, remark
    </sql>

</mapper>
